# App
PORT=3000

# Database (SQL Server)
DB_HOST=localhost
DB_PORT=1433
DB_USERNAME=sa
DB_PASSWORD=YourStrong@Passw0rd
DB_DATABASE=fleetward

# JWT
JWT_SECRET=troque-isso-em-producao
JWT_EXPIRES_IN=1d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
CACHE_TTL_SECONDS=300